DATABASE_URL=/home/trbot/shared/data/db.sqlite
TRBOT_USERNAME=
TRBOT_PASSWORD=
FINTABLES_USERNAME=
FINTABLES_PASSWORD=
TRBOT_SERVER_HOST=0.0.0.0
TRBOT_SERVER_PORT=7717
TRBOT_SERVER_TOKEN=
TRBOT_SERVER_TLS_CERT=/home/trbot/shared/tls/server.crt
TRBOT_SERVER_TLS_KEY=/home/trbot/shared/tls/server.key
TRBOT_TELEGRAM_BOT_TOKEN=
